@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px){
    body{
        background-image: linear-gradient(to top, #0b0720, #140d42);
    }
    
    #login{
        width: 80vw;
        height: 290px;
    }
    
    #login > #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario{
        float: right;
        width: 70%;

    }
}

@media screen and (min-width: 1024px){
    body{
        background-image: linear-gradient(to top, #0b0720, #140d42);
    }
    
    #login{
        width: 990px;
        height: 360px;
    }

    #login >#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #formulario{
        float: left;
        width: 50%;
    }

    #formulario > h1{
        text-align: center;
        margin-bottom: 2em;
    }

    #formulario > p{
        font-size: 1em;
        margin: 20px 0px;
    }
}